* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.popup-root {
  width: 270px;
  height: 270px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin-bottom: 1em;
}

.brand-title,
.stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Toggle Switch Section */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 1em auto;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input[type="checkbox"]:checked + .slider {
  background-color: #2196F3;
}
input[type="checkbox"]:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input[type="checkbox"]:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* */
.fade-text {
  color: grey;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.icon-btn:hover {
  opacity: 0.5;
}

/* Footer Section */
footer {
  padding: 0.5em;
  background-color: grey;
}

footer > button {
  color: gainsboro;
}

/* Page Navigation Animation */
.view-container {
  flex: 1;
  overflow-x: hidden;
}

.view-slider {
  display: flex;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.view {
  width: 100%;
  flex-shrink: 0;
  padding: 12px;
  overflow-y: auto;
}

/* Input Container */
.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

#url-input {
  width: 160px;
  padding: 0 1em;
  border: none;
  border-radius: 30px;
  outline: 1px solid grey;
  margin-right: 4px;
}

.ul-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

#remove-btn {
  color: darkred;
}

.switch-s {
  width: 40px;
  height: 22px;
  margin: 0;
}

.switch-s .slider:before {
  width: 15px;
  height: 15px;
  left: 3px;
  bottom: 3px;
}

.switch-s input:checked + .slider:before {
  transform: translateX(18px);
}

#view-settings .ul-items {
  padding: 8px 0;
}

#view-settings .ul-items div {
  display: flex;
  align-items: center;
  gap: 4px;
}

#view-settings .ul-items div span {
  color: darkblue;
  cursor: pointer;
}